<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ingredient edit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'editIngredient' editor.id %}" method="POST">
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="name" value={{editor.name}}>
                <label for="duration">Duration</label>
                <input type="text" id="duration" name="duration" placeholder="duration" value={{editor.duration}}>
                <label for="difficulty">Difficulty</label>
                <input type="text" id="difficulty" name="difficulty" placeholder="difficulty" value={{editor.difficulty}}>
                <br>
                <label for="date">Ingredients</label>
                <select id="ingredients" name="ingredients" placeholder="ingredients">
                    {%for i in ingredients%}
                        <option selected="{{editor.ingredients}}" value="{{i.id}}">{{i.name}}</option>                     
                    {%endfor%}
                </select>

                <br>
                <br>
              
        </div>
        <div class="modal-footer">
            <input type="submit" style="align-content: right;" class="btn btn-primary" value="Edit recipe
        </div>
      </div>
    </div>
  </div>
</body>