{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    nav{
      background-image: url("{% static '../static/header.jpg' %}");
    }
    .container{background-color: whitesmoke;}
    .dark{background-color:lightgray}
    .light{background-color: lightgray}
    .white{color:black}
    img{max-width: 90%;max-height: 90%; object-fit: contain;}
    h1{vertical-align: bottom;}
    body {
          background-image: url("{% static '../static/background.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          font-family: 'Sofia';font-size: 22px;
        }
        
  </style>

</head>
<body>

  <nav class="navbar navbar-default navbar-expand-xl" background-image="{% static '../static/header.jpg' %}">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            <li class="active"><a href="">Home</a></li>
            <li ><a href="{% url 'recipes' %}">Recipes</a></li>
            <li><a href="{% url 'ingredients' %}">Ingredients</a></li>  
          {% if user.is_staff %}
            <li><a href="{% url 'users' %}">Users</a></li>
          {% endif %}
          <li style="position: absolute; right: 0;" ><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
         <li style="position: absolute; right: 0;" ><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
  

<br>
<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    {% if user.is_authenticated%}
    <h1>Choose the best recipe for you, {{user.username}}</h1>
    {% else %}
    <h1>Choose the best recipe for you</h1>
    {% endif %}
  </div>
</div>
<br>

<div class="container theme-showcase" style="text-align: center; max-width: 30%;"><img    src="{% static '../static/p1.jpg' %}" alt="guitar"></div>

<svg height="20" width="50">
  <polygon points="100,10 40,198 190,78 10,78 160,198"
  style="fill:rgb(255, 251, 30);stroke:rgba(255, 251, 11, 0.829);stroke-width:5;fill-rule:nonzero;" />
</svg>

<div id="page-container" style="position: fixed; align-items: center; bottom: -15px; width: 100%;">
  <div id="content-wrap" style="background-color: #34ca48;  border-width: 10px; padding-top: 0.4%; padding-bottom: 1%;">    
    <h3 style="text-align: center; color: rgb(124, 119, 119);">Karolis Butnorius IFF-6/12 | 2019</h3>
    <h5 style="text-align: center;"><a href="https://moodle.ktu.edu/course/view.php?id=932" style="text-align: center;">KTU - Saityno taikomųjų programų projektavimas (T120B165)</a></h5>
    
  </div>
  <footer id="footer"></footer>
</div>

</body>

</html>