{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    nav{
      background-image: url("{% static '../static/header.jpg' %}");
    }
    .container{background-color: whitesmoke;}
    .dark{background-color:lightgray}
    .light{background-color: lightgray}
    .white{color:black}
    img{max-width: 150px;max-height: 200px; object-fit: contain;}
    h1{vertical-align: bottom;}
    body {
          background-image: url("{% static '../static/background.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          font-family: 'Sofia';font-size: 22px;
        }
  </style>

</head>
<body>

<nav class="navbar navbar-default navbar-expand-xl" background-image="{% static '../static/header.jpg' %}">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li ><a href="{% url 'recipes' %}">Recipes</a></li>
          <li class="active"><a href="">Ingredients</a></li>  
        {% if user.is_staff %}
          <li><a href="{% url 'users' %}">Users</a></li>
        {% endif %}
        <li style="position: absolute; right: 0;" ><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
       <li style="position: absolute; right: 0;" ><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>


<br>
<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>Ingredients</h1>
    <button style="border-radius: 10px; display:inline-block; width: 90%;" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addModal">
      <div style="color: white; width: auto;">Add Ingredient</div>
    </button>
  </div>
</div>

<br>
<div style="border-radius: 10px;" class="container">
    <div class="row">
          <table class="table">
              <thead class="thead">
                    
                <tr>
                  <th scope="col">Nr.</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
            {%for i in ingredients %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.name}}</td>  
              {% if user.is_staff%}

                <td><form action="{% url 'editIngredient' i.id %}" method="PUT"><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editModal">Edit</button></form></td>      
                <td><form action="{% url 'deleteIngredient' i.id %}" formmethod="DELETE"><button formmethod="DELETE" class="btn btn-sm btn-primary">Delete</button></form></td>

                {%endif%}
                </tr>
            {%endfor%}
            </tbody>
          </table>
  
        </div>
    </div>
</div>
  
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add ingredient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'ingredients' %}" method="POST">
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="name">
                <br>
                <input type="submit" style="align-content: right;" class="btn btn-primary" value="Add">
                </br>
              </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit ingredient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="{% url 'ingredients' %}" method="POST">
                  {% csrf_token %}
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" placeholder="name">
                  <br>
                  <br>
                  <input type="submit" style="align-content: right;" class="btn btn-primary" value="Edit">
                </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

</body>
</html>
