{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <style>
      body {
              background-image: url("{% static '../static/background.jpg' %}");
              background-repeat: no-repeat;
              background-size: auto;
              font-family: 'Sofia';font-size: 22px;
            }
    </style>
</head>
<body>

  <div class="jumbotron">
    <h1>LOG IN</h1>
  </div>
  <div>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    
      <input type="submit" value="Login">
    </form>
  </div>


</body>
</html>