{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    nav{
      background-image: url("{% static '../static/header.jpg' %}");
    }
    .container{background-color: whitesmoke;}
    .dark{background-color:lightgray}
    .light{background-color: lightgray}
    .white{color:black}
    img{max-width: 150px;max-height: 200px; object-fit: contain;}
    h1{vertical-align: bottom;}
    body {
          background-image: url("{% static '../static/background.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          font-family: 'Sofia';font-size: 22px;
        }
  </style>

</head>
<body>

<nav class="navbar navbar-default navbar-expand-xl" background-image="{% static '../static/header.jpg' %}">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active"><a href="">Recipes</a></li>
          <li><a href="{% url 'ingredients' %}">Ingredients</a></li>  
        {% if user.is_staff %}
          <li><a href="{% url 'users' %}">Users</a></li>
        {% endif %}
        <li style="position: absolute; right: 0;" ><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
       <li style="position: absolute; right: 0;" ><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<br>
<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>Recipes</h1>
  </div>
</div>

<br>
<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>{{ recipes.name }}</h1>
  </div>
  <h3>Ingredients</h3>
  <div class="well well-sm">
  {% for i in recipes.ingredients %}
  <h4>#{{forloop.counter}}
      {% for ingre in ingredients %}
        {%if ingre.id == i%}
           {{ingre.name}}  
        {%endif%}
      {%endfor%}
    </h4>  
  {% endfor %}
  </div>
  <h3>Difficulty</h3>
  <div class="well well-sm">
    <h4>{{ recipes.difficulty }} / 5</h4>
  </div>
  <h3>Duration</h3>
  <div class="well well-sm">
    <h4>{{ recipes.duration }} min</h4>
  </div>
  <h3>Rating</h3>
  <svg height="105" width="250">
  <polygon points="50,5 20,99 95,39 5,38 80,99"
    style="fill:rgb(255, 251, 30);stroke:rgba(255, 251, 11, 0.829);stroke-width:5;fill-rule:nonzero;" />
  </svg>
  <div class="well well-sm">
    <h4>{{ rating }} / 5</h4>
  </div>
  <h3>Description</h3>
  <div class="well well-lg">
    <h4>{{ recipes.description }}</h4>
  </div>
  
</div>  


</body>
</html>
