{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<style>
  body {
          background-image: url("{% static '../static/background.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          
          font-family: 'Sofia';font-size: 22px;
        
        }
</style>
</head>
<body>
  <br>
  <br>

<div class="jumbotron">
  <h1>REGISTRATION</h1>
</div>
<div>
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      {{form.username.label_tag}}
      {{form.username}}
  
      {{form.password1.label_tag}}
      {{form.password1}}

      Password(repeat):
      {{form.password2}}

      {{form.errors}}

      <input type="submit" value="Register">
    </form>
  </div>


</body>
</html>