{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    nav{
      background-image: url("{% static '../static/header.jpg' %}");
    }
    .container{background-color: whitesmoke;}
    .dark{background-color:lightgray}
    .light{background-color: lightgray}
    .white{color:black}
    img{max-width: 150px;max-height: 200px; object-fit: contain;}
    h1{vertical-align: bottom;}
    body {
          background-image: url("{% static '../static/background.jpg' %}");
          background-repeat: no-repeat;
          background-size: cover;
          font-family: 'Sofia';font-size: 22px;
        }
  </style>

</head>
<body>

<nav class="navbar navbar-default navbar-expand-xl" background-image="{% static '../static/header.jpg' %}">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'recipes' %}">Recipes</a></li>
          <li><a href="{% url 'ingredients' %}">Ingredients</a></li>  
        {% if user.is_staff %}
          <li class="active"><a href="{% url 'users' %}">Users</a></li>
        {% endif %}
        <li style="position: absolute; right: 0;" ><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
       <li style="position: absolute; right: 0;" ><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<br>
<div class="container theme-showcase" role="main">

  <div class="jumbotron">
    <h1>Users</h1>



  </div>
</div>


<br>
<div style="border-radius: 10px;" class="container">
    <div class="row">
          <table class="table">
              <thead class="thead">
                <tr>
                  <th scope="col">Nr.</th>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">email</th>
                  <th scope="col">Publicated recipes</th>
                  <th scope="col">Admin</th>
                </tr>
              </thead>
              <tbody>
            {%for u in users %}
            <tr>  
              <td>{{forloop.counter}}</td>
              <td>{{u.id}}</td>
              <td>{{u.username}}</td>
              <td>{{u.email}} </td>
              <td>
              {%for id in u.recipes %}
                    {%for recipe in recipes %}
                      {%if recipe.id == id%}
                          {{recipe.name}};
                      {%endif%}
                    {%endfor%}                
              {%endfor%}
              <td>{{u.is_superuser}} </td>
            {%endfor%}
            </tbody>
          </table>
  
        </div>
    </div>
</div>
  
 

</body>
</html>
